{% extends 'base.html' %} 

{% block contenido%}
{% load static %}

<div style="height: 1000px; width: 99%; margin: auto;" class="contenedor_ver_producto">

        
    <div class="titulo_eliminar">
        <h1>Producto a eliminar</h1>
    </div>

    <div class="Contenedor_Producto">


        <div class="imagen_producto_grande">
            <img src="{{producto.imagen.url}}" alt="">
        </div>

        <div class="detalles_producto_ver">

            <div class="">
                <h1>{{producto.nombre}}</h1>
            </div>

            <div class="">
                <label for="">Precio</label>
                <p>${{producto.precio}}</p>
            </div>

            <div class="">
                <label for="">Precio al por mayor</label>
                <p>${{producto.precio_x_mayor}}</p>
            </div>

            <div class="">
                <label for="">Categorias</label>
                <p>{{producto.categoria}}</p>
            </div>

            <div class="">
                <label for="">Descripción</label>
                <p>{{producto.descripcion}}</p>
            </div>

            <div class="boton_borrar">
                <a href="{%url 'borrarP' producto.id %}" class="boton_borrarP">Borrar</a>
            </div>

        </div>

    </div>


</div>

{% endblock %}
